@use 'styles';
@use 'variables';

/* Form styles */

// Cluster B section

// Cluster C section

fieldset {
    border: 2px solid;
    width: 50%;
    legend {
        padding: 10px;
        text-align: center;
    }
    input,label,textarea {
        margin-left: 20px;
    }
    textarea {
        border: 1px solid;
        width: 50%;
    }
}

label {
    font-weight: variables.$font-weight-bold;
}