@use 'variables';

@mixin li($bullet-style: circle) {
	list-style-type: $bullet-style;
	list-style-position: inside;
	text-indent: 20px;
}

@mixin dl($theme-dl: none) {
	text-indent: 20px;
	dt {
		font-weight: variables.$font-weight-bold;
		color: $theme-dl;
	}
}

@mixin table($table-bg-color: none, $table-color: none, $table-border: none) {
	width: 70%;
	border: variables.$thick-border;
	th,
	td {
		border: $table-border;
		text-align: center;
	}
	th {
		font-weight: variables.$font-weight-bold;
		background-color: $table-bg-color;
		color: $table-color;
	}
}

@mixin form() {
	margin: 1.5rem 0;

	fieldset {
		padding: variables.$base-padding;
		display: flex;
		flex-direction: column;
		width: 70%;
	}

	input,
	textarea {
		box-sizing: border-box;
		border: variables.$thin-border;
		border-radius: variables.$rounded-border;
		margin: 0.5rem 0;
		background-color: variables.$light-color;
		all: revert;
	}
	input:checked {
		border: 2px solid variables.$primary-color;
	}

	textarea {
		border: 1px solid;
		padding: 1rem;
		background-color: variables.$light-color;
		border-radius: variables.$rounded-border;
	}

	label {
		font-weight: variables.$font-weight-bold;
	}

	select {
		padding: 0 0.5rem;
		border: variables.$thin-border;
		border-radius: variables.$rounded-border;
		color: variables.$dark-color;
		width: 100%;
		margin: 0.5rem 0;
	}
}
