@use 'variables';
@use 'typography';
@use 'styles';

/* Table styles */

// Cluster B section

// Cluster C section

table {
    @include styles.table ($table-border: 1px solid variables.$secondary-color); 

}

.table-style-a {
    @include styles.table ($table-bg-color: variables.$primary-color, $table-color: variables.$color-white); 
        tr {
            background-color: lighten(variables.$primary-color, 40%);
        }
}

.table-style-b {
    @include styles.table ($table-bg-color: variables.$dark-color, $table-color: variables.$color-white);
        tr:nth-child(even) {
            background-color: lighten(variables.$dark-color, 60%);
        } 
}