// Variables

$base-font: 16px;

//
// Delete Below
//

body {
	font-size: $base-font;
	padding: 1em;
}

main {
	display: flex;
	gap: 10px;
}

main table {
	border: 3px solid black;
	padding: 2em;
}

table tr {
	border: 1px solid black;
}

table th,
td {
	padding: 5px 15px;
	border: 1px solid black;
}

h2 {
	margin: 10px 0;
}

//
// Delete to here / Change with new framework
//

// Weight
.type-weight-light {
	font-weight: 100;
}
.type-weight-normal {
	font-weight: 500;
}
.type-weight-bold {
	font-weight: 700;
}
.type-weight-extra-bold {
	font-weight: 800;
}
.type-weight-black {
	font-weight: 900;
}

// Size

.type-size-sm {
	font-size: $base-font;
}
.type-size-md {
	font-size: calc($base-font * 1.23);
}

.type-size-lg {
	font-size: calc($base-font * 1.7);
}

.type-size-xl {
	font-size: calc($base-font * 2);
}
.type-size-2xl {
	font-size: calc($base-font * 2.43);
}
.type-size-3xl {
	font-size: calc($base-font * 2.8);
}
.type-size-4xl {
	font-size: calc($base-font * 3);
}
.type-size-5xl {
	font-size: calc($base-font * 3.6);
}

// Italics

.type-italic {
	font-style: italic;
}

.type-italic-normal {
	font-style: normal;
}
