//Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
$font-stack: 'Montserrat', sans-serif;
$base-font: 1rem;

// Color palette
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$error-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$color-white: #f8f9fa;
$link-color: $primary-color;

// Font sizes
$font-size-base: $base-font; // 1rem (16px)
$font-size-lg: 1.25rem; // Large font size
$font-size-xl: 1.55rem; // xl font size
$font-size-2xl: 1.85rem; // 2xl font size
$font-size-sm: 0.875rem; // Small font size
$font-size-xs: 0.75rem; // Extra small font size

// Font weights
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

//Paddings & margins
$section-margin-normal: 1.5rem 0;
$section-margin-large: 2.5rem 0;
$base-padding: 1.5rem;

//Tables
$table-content-padding: 0.5rem 1rem;

//Borders
$rounded-border: 0.25rem;

$hover-brightness-adjustment: 15%;

@mixin hover-effect($color) {
	&:hover {
		background-color: lighten($color, $hover-brightness-adjustment);
	}
}
